<div class="registestration-form">
    <img width="320" src="../../../assets/Logo.png"/>
    <h4>Register for New Account</h4>
    <form>
        <div class="form-group">
            <input class="form-control" name="username" placeholder="Requested User Name"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="email" placeholder="Email"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" type="password" placeholder="password"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password-again" type="password" placeholder="Password Again"/>
        </div>
        <div class="form-group">
            <button class="btn btn-default" id="cancel" routerLink="/sign-in" routerLinkActive="active" >Cancel</button>
            <button class="btn btn-primary btn-submit" type="submit">Register</button>
        </div>
    </form>
</div>