<div [formGroup]="form">

    <div *ngIf="field.type == 'string'" class="form-group">
        <label [htmlFor]="field.key">{{field.label}}</label>
        <input type="text" class="form-control" [formControlName]="field.key"  [readonly]="action == 'read' || field.isId"
            [id]="field.key" [required]="field.required">
    </div>

    <div *ngIf="field.type == 'number'" class="form-group">
        <label [htmlFor]="field.key">{{field.label}}</label>
        <input type="number" class="form-control" [formControlName]="field.key" [readonly]="action == 'read' || field.isId"
            [id]="field.key" [required]="field.required">
    </div>

</div>